
#BioModule biolockj.module.diy.GenMod AS Input_checksums
#BioModule biolockj.module.diy.Rmarkdown AS Clinical_cases
#BioModule biolockj.module.diy.Rmarkdown AS SARS-in-wastewater
#BioModule biolockj.module.diy.Rmarkdown AS Dorms-and-methods
#BioModule biolockj.module.diy.Rmarkdown AS Campus-wide-cases
#BioModule biolockj.module.diy.Rmarkdown AS PMMoV-in-AS-vs-Grab
#BioModule biolockj.module.diy.GenMod AS Gather_Figures

input.dirPaths=../data
pipeline.copyInput=Y
pipeline.inputTypes=other

Input_checksums.scriptPath=./00_Input_checksums/script/checksums.sh
Clinical_cases.rmarkdown=./01_Clincial_cases/script/clincial-cases.Rmd
SARS-in-wastewater.rmarkdown=./02_SARS-in-wastewater/script/SARS_wastewater_ncat.Rmd
Dorms-and-methods.rmarkdown=./03_Dorms-and-methods/script/Dorm-to-dorm-correlations.Rmd
Campus-wide-cases.rmarkdown=./04_Campus-wide-cases/script/campus-wide-cases.Rmd
PMMoV-in-AS-vs-Grab.rmarkdown=./05_PMMoV-in-AS-vs-Grab/script/Methods-AS-Grab-PMMoV.Rmd
Gather_Figures.scriptPath=./Gather_Figures/script/gather.sh
